
<ion-nav-bar id="mainHeaderBar" class="bar bar-header icon-left" ng-controller="SettingsCtrl">
        <ion-nav-back-button>
        </ion-nav-back-button>
      <div class="logo-setting-head">
        <h1 class="title">
          <a ng-click="defaultState()" class="logo-title">
             <span ng-hide="data.data.data.logo">{{headerText}}</span>
             <img ng-show="data.data.data.logo"  class="logo" ng-src="{{data.data.data.logo}}" alt="{{data.data.data.applicationName}} logo"></a>
        </h1>
        <i class="button button-clear ion-gear-b" ng-click="openModal()"></i>
      </div>
      
    </ion-nav-bar>

<ui-view name="tabMenu"></ui-view>
<ui-view name="subMenu"></ui-view>
<ion-nav-view name="menuContent"></ion-nav-view>
