/* Empty. Add your own CSS if you like */
.bar{
	background-color: #36783a;
}

ion-content{
	    background-color: #EEE;
}
.menuList{
	background-color:#36783a;
}
.menuList li{
	    border: 1px solid #286B2C;
	    background-color: #36783a;
}
.wrapper{
	    background-color: #EEE;
}
/* about */
#about .wrapper h3{
	text-align: right;
	    color: #36783a;
	    padding: 0 12px;
	    margin-top: 0;
	    text-transform: capitalize;
}
#about .wrapper .card#mission .header{
	background-image:url('../img/custom-images/about/about-mission-card-heading.jpg');
	height:100px;
	background-position: center center;
    background-size: cover;
}

#about .wrapper .card#vision .header{
	background-image:url('../img/custom-images/about/about-vision-card-heading.jpg');
	height:100px;
	background-position: center center;
    background-size: cover;
}

/* contact */
#contact h2{
	color:#950602;
}
#contact .item-icon-left .icon, #contact .item-icon-left .icon + p{
	color:#36783a;
}

/* inquire */
#inquire .banner{
	background-image:url('../img/custom-images/inquire/banner-inquire.jpg');
}
#inquire .banner h2{
	color:#950602;
}
#inquire .button-assertive{
	background-color:#36783a;
	border-radius:30px;
}
ion-modal-view ion-header-bar h1{
	color:#fff;
}