<ion-view view-title="Dashboard" id="about">
  <ion-content class="padding" id="home" style="background-image:url('img/img1.jpg');background-size:cover;"> <!--  insert background here -->
   <!--  <h2>Welcome to Yondu Version</h2>
   -->
	<!-- <ion-slide-box on-slide-changed="slideHasChanged($index)">
	 
		
	<div  ng-repeat="info in data.data.pages | filter:{title : 'about'}">
		<div >
			<ion-slide ng-repeat="infoCont in info.content.photos">
		  		<div class="box" >
		  			<img ng-src="img/{{infoCont.img}}" alt="{{infoCont.img}}">
		  		</div>
		  	   		
		  	</ion-slide>
		</div>
	</div> 
	
	 <ion-slide>
	   <div class="box">
	   	<p style="
	     font-size: 30px;
	     line-height: 38px;
	     padding: 12px;
	     color: #fff;
	 ">Yondu is the only Technical Partner you need</p>
	   	<button class="button button-royal">Inquire now</button>
	   </div>
	 </ion-slide>
	 <ion-slide>
	   <div class="box">
	   	<p style="
	     font-size: 30px;
	     line-height: 38px;
	     padding: 12px;
	     color: #fff;
	 ">Mobile content and application</p>
	   	<button class="button button-royal">Learn more</button>
	   </div>
	 </ion-slide>
	  <ion-slide>
	   <div class="box">
	 			<p style="
	     font-size: 30px;
	     line-height: 38px;
	     padding: 12px;
	     color: #fff;
	 ">Software and I.T. workforce</p>
	   	<button class="button button-royal">See our profile</button>
	   </div>
	 </ion-slide>
	</ion-slide-box> -->

	<h2 style="color:#fff;">About Us</h2>
	<div ng-repeat="info in data.data.pages | filter:{title : 'about'}">
		<div class="card">
		  <div class="item item-text-wrap">
		     <p>
			  {{info.content.description}}
			 </p>
		  </div>
		</div>
	</div>
	<h2 style="color:#fff;">Mission</h2>
	<div ng-repeat="info in data.data.pages | filter:{title : 'about'}">
		<div class="card">
		  <div class="item item-text-wrap">
		     <p>
			  {{info.content.mission}}
			 </p>
		  </div>
		</div>
	</div>
	<h2 style="color:#fff;">Vision</h2>
	<div ng-repeat="info in data.data.pages | filter:{title : 'about'}">
		<div class="card">
		  <div class="item item-text-wrap">
		     <p>
			  {{info.content.vision}}
			 </p>
		  </div>
		</div>
	</div>
	
	
	
  </ion-content>
</ion-view>
