<ion-view view-title="Company Name" class="subPages">
  <ion-content class="padding">
	   <ul class="list">
	   	<li>
	   		 <a class="item item-icon-left item-icon-right" href="#">
			    <i class="icon ion-ios-bell"></i>
			    Notification
			     <span class="badge badge-assertive">20</span>
			  </a>
	   	</li>
	   	<li > <a class="item item-icon-left" href="#">
			    <i class="icon ion-person"></i>
			    Setting 1 

			  </a>
		</li>
	   	<li > <a class="item item-icon-left " href="#">
			    <i class="icon ion-wrench"></i>
			    Setting 2

			  </a>
		</li>
	   	<li > <a class="item item-icon-left " href="#">
			    <i class="icon ion-location"></i>
			    Setting 3

			  </a>
		</li>
	   	<li >
			 <a class="item item-icon-left " href="#">
			    <i class="icon ion-log-out"></i>
			    logout
			  </a>
	   	</li>
	   </ul>
  </ion-content>
</ion-view>