
<ion-view id="blank">
  <ion-content class="wrapper">
  		<div ng-show="blankOn" class="blankWrapper">
  			<header>
  				<h1>Sample Header</h1>
  				<h2>Sample sub Header</h2>
  			</header>
  			<article>Lorem ipsum keme keme keme 48 years sa bakit at ang bakit at ang bella at nang katagalugan at bakit kemerloo at nang kasi jongoloids ang jutay lulu conalei jowa katagalugan na ganders tetetet keme keme at at bakit majonders 48 years klapeypey-klapeypey bakit tamalis planggana conalei nakakalurky ma-kyonget shogal at ang shonga cheapangga lulu sa boyband ano at nang at nang sa lorem ipsum keme keme sa sa urky shala katol shonget boyband keme keme matod bokot na intonses fayatollah kumenis nang ano makyonget at ang ugmas doonek nang ang tetetet valaj ganda lang nakakalurky doonek intonses 48 years ano paminta ang majubis chaka majubis , neuro sudems tetetet kirara na makyonget mashumers chapter bella bokot na waz pamin ng at majubis quality control na katol.</article>
  			<button class="primary">Primary</button>
  			<button class="secondary">Secondary</button>
  		</div>
  </ion-content>
</ion-view>


