<ion-view id="gallery">
  <ion-content>
  
	<div id="albums" ng-hide="$state.params.albumId">
		 <ul class="row" >
			   	<li class="ionic-col col col-33" ng-repeat="albums in data.gallery.albums">
			   		<a ng-href="#/app/gallery/:albumId" ng-click="domFix.hideGallery()">
			   			<div class="thumb-img" ng-style="{'background-image':'url({{albums.albumCover}})'}">
							<!-- <div class="post-date">{{galleryList.date}}</div> -->
					   		<div class="post-title"><h3>{{albums.title}}</h3></div>
						</div>
			   		</a>
			   	</li>
		   </ul>
		</div>
		
		<ui-view></ui-view>
	
  </ion-content>
</ion-view>


